@import "lib/bourbon/bourbon";


$primaryColor: #ccddff;

h1 {
  text-align: center;
}

body {
  background: $primaryColor;
}

.centerbox {
  text-align: center;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 200px;
}
