<!DOCTYPE html>
<html lang="en">
<head>
	<script src="react-0.11.2/build/react.js"></script>
  <script src="react-0.11.2/build/JSXTransformer.js"></script>
	<script src="//localhost:35729/livereload.js"></script>
	<link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
  <title>Rory McGuinness</title>
</head>
<body>
  <h1>Name Name</h1>
  <div class="centerbox" id="mount-point">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>

	<div class="centerbox" id="root">
  	<!-- This div's content will be managed by React. -->
	</div>
</body>
</html>
